<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>
    <div class="container" style="max-width: 800px;">
    <div id="contact" style="padding: 10px; margin: 30px 0 0 0;">
      <h1>Programming Competition</h1>:
      <table table border="1" id="align_left" style="width:100%;" >
        <tr>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone No.</th>
          <th>Programming Language</th>
        </tr>
        {% for program in program %}
        <tr>
          <td style="padding: 0 0 0 10px;">{{ program.full_name | title }}</td>
          <td style="padding: 0 0 0 10px;">{{ program.email}}</td>
          <td style="padding: 0 0 0 10px;">{{ program.phone_no}}</td>
          <td style="padding: 0 0 0 10px;">{{ program.programming_language}}</td>
        </tr>
        {% endfor %}
      </table>
      <br/><br/>
      <h1>NOSKode Registration</h1>:
      <table table border="1" id="align_left" style="width:100%;" >
        <tr>
          <th>Team Name</th>
          <th>Members</th>
          <th>Leader Name</th>
          <th>Phone No.</th>
          <th>Email</th>
          <th>Project Title</th>
          <th>Programming Description</th>
        </tr>
        {% for nosk in nosk %}
        <tr>
          <td style="padding: 0 0 0 10px;">{{ nosk.team_name | title }}</td>
          <td style="padding: 0 0 0 10px;">{{ nosk.total_team_members}}</td>
          <td style="padding: 0 0 0 10px;">{{ nosk.team_leader  | title }}</td>
          <td style="padding: 0 0 0 10px;">{{ nosk.phone_number}}</td>
          <td style="padding: 0 0 0 10px;">{{ nosk.email}}</td>
          <td style="padding: 0 0 0 10px;">{{ nosk.project_title}}</td>
          <td style="padding: 0 0 0 10px;">{{ nosk.project_description}}</td>
        </tr>
        {% endfor %}
      </table>
      <br/><br/>
      analytics/logout/
      <a align="center" href="/"><h3>Home</h3></a>
      <a align="center" href="logout/"><h3>Log out</h3></a>
    </div>
  </body>
</html>
