<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>
    <div class="container">
    <div id="contact">
      <h1>Forms</h1>:
      <a href="/"><h3>Home</h3></a>
      <a href="/Thank_You/"><h3>Thank You</h3></a>
      <a href="/Programming_Competition/"><h3>Programming Competition</h3></a>
      <a href="/NOSKode/"><h3>NOSKode</h3></a>
      <br/>
      <a href="https://github.com/SiyaOrg/SFDform/"><h3>GitHub</h3></a>
    </div>
  </body>
</html>
