<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>
    <div class="container">
      <form id="contact" action="" method="post">
        {% csrf_token %}
        <b>{{form.as_p}}</b>
        <input type="submit" value="Submit" title="Submit" />
        <p style="font-weight: bold;">
          Problem on Form Submission? <a href="mailto:nosk@protonmail.com?Subject=NOSKode" target="_top">Send Us Mail</a>
          <br/>
          Mail:- nosk@protonmail.com
        </p>
      </form>
    </div>
</body>
</html>
