<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
  <body>
    <div class="container">
      <div id="contact">
        <h1>Rules:-</h1>
        <ol style="font-weight: bold;">
          <li>This is an individual competition and will run for two hours.</li>
          <li>You can use Google, Stack overflow, and a few books if you want.</li>
          <li> You are required to solve programming questions using your problem solving ability.</li>
          <li> You can use languages like C, C#, C++, Java, PHP, JavaScript, Python to solve the problems.</li>
          <li> Any kinds of cheating in the contest will not be tolerated.</li>
        </ol>
      </div>
      <form id="contact" action="" method="post">
      <h1>Form:-</h1>
        {% csrf_token %}
        <b>{{form.as_p}}</b>
        <input type="submit" value="Submit" title="Submit" />
        <p style="font-weight: bold;">
          Problem on Form Submission? <a href="mailto:nosk@protonmail.com?Subject=Programming%20Competition" target="_top">Send Us Mail</a>
          <br/>
          Mail:- nosk@protonmail.com
        </p>
      </form>
    </div>
</body>
</html>
